<div class="entity-dropdown-init d-inline-block" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}"
     data-show-label="true" data-variations="{{entityVariations}}"
     data-full-base-image="{{fullBaseImage}}" data-medium-base-image="{{mediumBaseImage}}"
     data-variation-images="{{variationImages}}"></div>