{{#if shouldDisplayBirthdays}}
    <div class="birthday-slider">
        {{#each birthdays}}
            <div>
                <div class="text-center align-self-center" style="width: 50%; float: right;">
                    <h4>Celebrate with {{name}}! &#x1F389</h4>
                    {{> socialMedia shareUrl=shareUrl }}
                </div>
                <div class="text-center" style="width: 50%">
                    <h4><b>Happy Birthday, {{name}}!</b></h4>
                    <div style="height: 100px">
                        <td class="result-image align-self-center">
                            <a href="/villager/{{id}}">
                                <img src="/images/villagers/medium/{{id}}.png" alt="Picture of {{name}}"
                                     class="img-responsive" style="max-height: 100px; margin: 0 auto"/>
                            </a>
                        </td>
                    </div>
                </div>
            </div>
           <!-- <div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto"><h4><b>Happy Birthday, {{name}}!</b></h4></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto">
                        <div style="height: 100px">
                            <td class="result-image">
                                <a href="/villager/{{id}}">
                                    <img src="/images/villagers/medium/{{id}}.png" alt="Picture of {{name}}"
                                         class="img-responsive" style="max-height: 100px"/>
                                </a>
                            </td>
                        </div>
                    </div>
                    <div class="col-sm-auto text-center align-self-center">
                        <h4>Celebrate with {{name}}! &#x1F389</h4>
                        {{> socialMedia shareUrl=shareUrl }}
                    </div>
                </div>
            </div>-->
        {{/each}}
    </div>
{{/if}}