{{#if shouldDisplayBirthdays}}
    <div id="birthday-slider">
        {{#each birthdays}}
            <div>
                <div class="birthday-slide-table">
                    <div class="birthday-slide-row">
                        <div class="text-center birthday-slide-col birthday-left">
                            <p>Happy Birthday, {{name}}!</p>
                            <div>
                                <a href="/villager/{{id}}">
                                    <img src="/images/villagers/medium/{{id}}.png" alt="Picture of {{name}}"
                                         class="img-responsive" style="max-height: 100px; margin: 0 auto"/>
                                </a>
                            </div>
                        </div>
                        <div class="text-center birthday-slide-col birthday-right">
                            <p>Celebrate with {{name}}! &#x1F389;</p>
                            {{> socialMedia shareUrl=shareUrl }}
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto"><h4><b>Happy Birthday, {{name}}!</b></h4></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto">
                        <div style="height: 100px">
                            <td class="result-image">
                                <a href="/villager/{{id}}">
                                    <img src="/images/villagers/medium/{{id}}.png" alt="Picture of {{name}}"
                                         class="img-responsive" style="max-height: 100px"/>
                                </a>
                            </td>
                        </div>
                    </div>
                    <div class="col-sm-auto text-center align-self-center">
                        <h4>Celebrate with {{name}}! &#x1F389</h4>
                        {{> socialMedia shareUrl=shareUrl }}
                    </div>
                </div>
            </div>-->
        {{/each}}
    </div>
{{/if}}