{{> rev-unit1 }}
{{> random }}
<h1>{{pageTitle}}</h1>
{{#if pageDescription}}
    <p>{{pageDescription}}</p>
{{/if}}
<div id="entity-browser"
     data-ajax-url-prefix="{{ajaxUrlPrefix}}"
     data-page-url-prefix="{{pageUrlPrefix}}"
     data-all-filters="{{allFilters}}"
     data-applied-filters="{{appliedFilters}}"
     data-current-page="{{currentPage}}"></div>
{{> rev-unit2 }}