<h1>{{listName}} by {{author}}</h1>
{{#if isEmpty}}
    <p>
        This list has no items yet.
        {{#if isOwnUser}}
            You can add some by browsing the site and clicking the <span class="fa fa-plus"></span> button next to
            villagers and items.
        {{/if}}
    </p>
{{else}}
    <ul class="list-group">
        {{#each entities}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img src="{{image}}" alt="Picture of {{name}}"
                         class="img-responsive" style="max-width: 50px;">
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a>
                </div>
                {{#if ../isOwnUser}}
                    <div>
                        <a href="/list/delete-entity/{{../listId}}/{{type}}/{{id}}"
                           class="btn-sm btn-danger" role="button">Delete</a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}