<h1>
    {{listName}}
    <small class="text-muted">by <a href="/user/{{author}}">{{author}}</a></small>
</h1>
<div class="text-right">
    {{> social-media shareUrl=shareUrl showCopyButton=true }}
</div>
{{#if isEmpty}}
    <p>
        This list has no items yet.
        {{#if isOwnUser}}
            You can add some by browsing the site and clicking the <span class="fa fa-plus"></span> button next to
            villagers and items.
        {{/if}}
    </p>
{{else}}
    <ul class="list-group">
        {{#each entities}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
                {{#if ../isOwnUser}}
                    <div>
                        <a href="{{deleteUrl}}"
                           class="btn btn-danger" role="button">
                            <span class="fa fa-trash"></span>
                            <span class="sr-only">Delete</span>
                        </a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}