<h1 class="sr-only">Villager List</h1>
{{> pagination resultSet=resultSet }}
<div class="table-responsive">
    <table class="table table-striped table-bordered result-set">
        <thead>
        <th>Picture</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Species</th>
        <th>Birthday</th>
        </thead>
        <tbody>
        {{#each resultSet.results}}
            <tr>
                <td class="result-image">
                    <a href="/villager/{{this._id}}">
                        <img src="/images/villagers/{{this._id}}.png" alt="Picture of {{this.name}}"
                             class="img-responsive" />
                    </a>
                </td>
                <td>
                    <a href="/villager/{{this._id}}">
                        {{this.name}}
                    </a>
                </td>
                <td>
                    {{this.gender}}
                </td>
                <td>
                    {{this.species}}
                </td>
                <td>
                    {{this.birthday}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> pagination resultSet=resultSet }}